{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=varlikenvanteri;Username=varlik;Password=DEGISTIRIN"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "Veritabani": {
    "BaslangictaMigrateEt": true,
    "BaslangictaGorunumleriUygula": true,
    "BaslangicVerisiniKur": true
  }
}
